data/*.png
data/*.xml
giraph/DensestSubgraphApprox/target/*
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.bbl
report/*.bcf
report/*.blg
report/*.run.xml
report/*.synctex.gz
report/*.fdb_latexmk
report/*.fls
